---
---

@import 'jekyll-theme-cayman';

figure {
    display: inline-block;
    font-size: small;
  }

  a {
    color: $header-bg-color;
    display: inline-block;
  }

  .embed-container {
    display: inline-block;
  }

  .container {
    width: 105%;
    padding: 5px;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: justify;
  }

  .img-author {
    width:190px;
    height:190px;
    object-fit:cover;
    border-radius:50%;
    filter: drop-shadow(0 0 0.75rem #000000);
  }

  .img-syns {
    width:32%;
    height:32%;
    border-radius: 15px;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
    text-align-last: left;
  }

  .rounded-rect {
    border-radius: 15px;
  }

  .best {
    color: blue
  }
